<!DOCTYPE html>

<html>
<head>
<title>My funky form</title>
<link rel ="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>My funky form</h1><form method="post" action="/create"><label for="comment">Got something to say:</label><input name="comment" type="text"><input value="Save" type="submit"></form><br><p>weiern</p></body></html>