@import url("../fonts/HWT_Artz.otf");
@import url("../fonts/Mastoc_PersonalUseOnly.ttf");
@import url("../fonts/opensans-bold.ttf");
@import url("../fonts/OpenSans-Regular.ttf");
@import url("../fonts/OpenSans-Light.ttf");
@import url("../fonts/OpenSans-Italic.ttf");
@import url("../fonts/OpenSans-Semibold.ttf");
@import url("../fonts/ProximaNova-Reg.ttf");
/*
     Sidebar:                         Topbar:                             Main:
      #Logo                             #circle (for the steps)
                                          .(active, complete)

*/
body {
  background-color: #EBF0F1; }
  body h1 {
    font: "Open Sans"; }
  body button, body button:hover {
    border-radius: 30px;
    padding: 10px 20px;
    background: none;
    border-style: solid;
    border-color: #4EADEF; }
  body button:hover {
    border-color: #4EADEF; }
  body ul, body #sidebar ul, body #topbar ul {
    margin: 0px;
    list-style: none;
    padding: 0px; }
  body #sidebar, body #topbar {
    border: none;
    margin: 0px;
    float: left;
    height: 100%;
    width: 120px;
    background-color: #4A4A4A;
    position: fixed;
    z-index: 100; }
    body #sidebar #logo, body #topbar #logo {
      color: #FFFFFF;
      font-size: 2.5em;
      font-family: "Mastoc Personal Use Only";
      text-align: center;
      line-height: 120%;
      margin-top: 30px; }
    body #sidebar ul, body #topbar ul {
      margin-top: 20px;
      text-align: center; }
      body #sidebar ul li, body #topbar ul li {
        color: #B7B7B7;
        margin-left: 0px;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding: 0;
        font-size: 1em;
        height: auto !important; }
        body #sidebar ul li span, body #topbar ul li span {
          height: 70px;
          display: table-cell;
          vertical-align: middle;
          /*margin: auto;*/
          width: 120px; }
      body #sidebar ul li.selected, body #topbar ul li.selected {
        color: #FFFFFF;
        background-color: #2B2B2B; }
  body #topbar {
    width: 100%;
    height: 100px;
    background-color: #4EADEF;
    z-index: 100; }
    body #topbar ul {
      list-style: none;
      text-align: center;
      width: auto;
      margin: auto;
      float: none !important;
      display: inline-block;
      margin-left: 120px;
      display: block;
      margin-top: 11px; }
      body #topbar ul li {
        width: 150px;
        margin: auto;
        display: block;
        letter-spacing: .025em;
        color: #9DD1F6;
        font-weight: 200;
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
        height: auto; }
        body #topbar ul li #circle {
          width: 72px;
          height: 72px;
          margin: auto;
          border-radius: 50%;
          border-width: 8px;
          border-style: solid;
          border-color: #D8D8D8;
          background-color: #9C9C9C;
          opacity: 1;
          z-index: 4; }
          body #topbar ul li #circle h1 {
            padding: 0px;
            margin-top: 6px;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 4.3rem; }
        body #topbar ul li #circle.active {
          background-color: #4EADEF; }
      body #topbar ul li.selected {
        color: #FFFFFF;
        background-color: transparent; }
      body #topbar ul hr {
        margin-top: -39px;
        width: 400px;
        border-width: 8px;
        border-color: #D8D8D8;
        z-index: 3; }
  body #main {
    border-radius: 15px;
    position: relative;
    top: 162px;
    z-index: 1;
    background-color: white;
    width: 560px;
    margin: auto; }

.flexTopLeft {
  border-top-left-radius: 20px; }

.flexTopRight {
  border-top-right-radius: 20px; }

.flexBottomLeft {
  border-bottom-left-radius: 20px; }

.flexBottomRight {
  border-bottom-right-radius: 20px; }

.barFix {
  margin-left: 120px; }

.formRow {
  display: flex; }

.formBoxWrapper {
  flex-direction: row;
  display: flex; }

.formBox {
  height: 136px;
  border: solid thin;
  border-color: gray;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 20px 6%; }

#flexcanvas {
  width: 100%;
  height: 600px !important; }

.rowParent, .columnParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.columnParent {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flexChild {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

#rowChild45052 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

#rowChild22367 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

#columnChild31678 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }

button, body button:hover, input, select, textarea {
  border: medium none;
  margin-top: 30px; }

select {
  color: #D8D8D8; }

option {
  color: #4A4A4A; }

option:first-child {
  color: #EBF0F1; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.3rem;
  color: #4A4A4A;
  font-family: open sans; }

/*# sourceMappingURL=main.css.map */
